/* Variables */
:root {
	--bg-background:#fff;
	--primary: #EA40A4;
	--business: #3a82ee;
	--personal: var(--primary);
	--light: #EEE;
	--grey: #888;
	--dark: #313154;
	--danger: #ff5b57;
	--shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	--border-radius:.3rem;
	--business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
	--personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}


/* End of Variables */


.tab-content{
    width: 100%;
	min-height: 100vh;
    display: none;
	position: relative;
}
.active-tab{
	display: flex;
    animation: delayOpac 1.5s linear;
	animation-fill-mode: forwards;
	opacity: 0;
}
@keyframes delayOpac {
	0%{
		opacity: 0;
	}
	50%{
		opacity: .5;
	}
	100%{
		opacity: 1;
	}
}

.active-link, .header .LiveStuffs a.active-link{
	background: purple;
	color: #fff;
}
.tab-links{
	border-radius: .3rem;
}


